body{
    background-image: url(./small/horoscope_bkgr.jpg);
    margin: 10% 18%;
}


table, tr,td{
    border: 1px solid white;
    border-collapse: collapse;
    width: 900px;
   
    font-size: 16px;
}
th{
    color: rgb(4, 93, 170);
    height: 40px;
    font-size: 30px;
}
td{
    height: 50px;
}
tbody tr td:nth-child(1){
   text-align: center;
   width: 5%;

}
tbody tr td:nth-child(3){
    text-align: center;
    width: 5%;
 
 }
 .img-center{
    width: 300px;
 }
